<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Quote</title>
</head>
<body>
<h1>Add Quote</h1>
<form id="addQuoteForm">
    <label for="quoteContent">Content</label><br>
    <textarea id="quoteContent"></textarea>
    <br><br>
    <button form="addQuoteForm" type="submit">OK</button>
    <button type="button" id="cancelButton">Cancel</button>
</form>
<script src="../static/js/main.js" type="text/javascript"></script>
</body>
</html>
