<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Quote</title>
</head>
<body>
<h1>Edit Quote</h1>
<form id="editQuoteForm">
    <label for="editQuoteContent">Content</label><br>
    <textarea id="editQuoteContent"></textarea>
    <br><br>
    <button form="editQuoteForm" type="submit">OK</button>
    <button type="button" id="cancelButton">Cancel</button>
</form>
<script src="/../static/js/main.js" type="text/javascript"></script>
</body>
</html>
